{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": [
    "wrapperClassName",
    "wrapClassName",
    "rootClassName"
  ],
  "tailwindFunctions": [
    "classNames",
    "classnames",
    "twMerge"
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}